#divClienteTipoCliente
{
	/*background-color: #ddd;*/
	width: 360px;
	text-align: right;
	line-height: 24px;
}

#divClienteTipoCliente label
{
	margin: 0px 0px 0px 5px;
}

#divClienteTipoCliente input
{
	margin: 0px 0px 0px 20px;
}

#divClienteCnpj
{
	width: 210px;
	margin: 0px 0px 0px 5px;
	background-color: #9fed9f;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.labelClienteCnpj
{
	width: 40px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 3px;
	line-height: 24px;
}

#divClienteCpf
{
	display: none;
	width: 190px;
	margin: 0px 0px 0px 5px;
	background-color: #c1d0e5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#ClienteObs
{
	width: 603px;
}

#ClienteCidadeId
{
	width: 250px;
}

.labelClienteCpf
{
	width: 40px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 3px;
	line-height: 24px;
}
