*
{
	margin:0;
	padding:0;
}

.lista
{
	font-size: 12px;
	font-family: verdana;
}

.lista h2
{
	background: #5483dd url('../img/fundo1.png') repeat left;
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid #000;
}
.lista h2 span
{
	margin: 0px 0px 0px 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 4px;
}

.lista .cabecalho
{
	margin: 10px auto;
	background-color: #acc4e6;
	height: 20px;
	line-height: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.lista .cabecalho_td
{
	padding: 0px 0px 0px 20px;
}

.lista .cabecalho_td span
{
	float: left;
}

.lista .current,
.lista .num_pag
{
	width: 30px;
	text-align: center;	
	border: 1px solid #ccc;
}
.lista .num_pag
{
	color: #aaa;
	display: block;
}

.lista .linhas
{
	margin: 0px auto;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
}
.lista .linhas th
{
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.lista th a.asc:after {
	content: ' ⇣';
	color: red;
}
.lista th a.desc:after {
	content: ' ⇡';
	color: red;
}

.lista .linhas th a
{
	display: block;
	text-decoration: none;
	color: #000;
	/*height: 30px;
	line-height: 30px;*/
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	border: 1px solid #fff;
}

.lista .linhas th a:hover
{
	background-color: #acc4e6;
}

.lista .linhas td
{
	padding: 2px;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.lista_linha_ativa
{
	background-color: #acc4e6;
	cursor: pointer;
}

.cake-sql-log
{
	font-size: 9px;
	margin-top: 50px;
}

#footer
{
	text-align: right;
}
