*
{
	margin:0;
	padding:0;
}
#flashMessage
{
	position: absolute;
	right: 400px;
	margin: -12px 0px 0px 0px;
}

#cabecalho
{
	background: #5483dd url('../img/fundo2.png') repeat left;
	height: 60px;
	line-height: 40px;
	border-bottom: 2px solid #3f4757;
	color: #fff;
	margin: 0px;
	padding: 0px;
}
#cabecalho a
{
	margin: 0px 0px 0px 0px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 4px;
}
#cabecalho #texto_va a
{
	font-weight: bold;
}
#cabecalho #texto_va a:hover
{
	color: red;
}
#cabecalho #logo_va
{
	background: url('../img/logo_va.png') no-repeat left;
	width: 55px;
	height: 30px;
	float: left;
	margin:  5px 0px 0px 8px;
}
#cabecalho #texto_va
{
	margin: 0px 0px 0px 90px;
}
#cabecalho #userOn
{
	margin: 29px 10px 0px 0px;
	position: absolute;
	right: 5px;
	color: #fff;
}
#cabecalho #userOn a
{
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}
#cabecalho #userOn a:hover
{
	color: red;
}
#cabecalho #menu
{
	position: absolute;
	top: 40px;
	width: auto;
}
#cabecalho #menu a
{
	font-size: 12px;
}
#cabecalho #menu li li a
{
	color: #333;
}

.cake-sql-log
{
	font-size: 12px;
	margin-top: 50px;
	width: 98%;
	margin: 0px auto;
}

.cake-sql-log tr th
{
	background-color: #ddd;
	border: 1px solid #000;
}

.cake-sql-log tr td
{
	border-bottom: 1px dashed #aaa;
}

.btEdicao
{
	width: 80px;
}

#footer
{
	clear: both;
	text-align: right;
}

#logoCake
{
	right: 18px;
	position: absolute;
	top: 5px;
}

#logo
{
	background: url('../img/logo.png') no-repeat center;
	width: 400px;
	height: 400px;
	margin: 10px auto;
}

