#edicao
{
	margin: 0px auto;
	width: 100%;
	font-size: 12px;
	font-family: verdana;
}

#edicao #formFerramentas,
#edicao #formEdicao
{
	margin: 10px auto;
	width: 880px;
}

#edicao #formEdicao
{
	padding: 5px;
}

#edicao #formFerramentas
{
	background-color: #acc4e6;
	height: 40px;
	line-height: 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.edicaoDiv
{
	float: left;
}

.quebraLinha
{
	line-height: 26px;
}

#botoesEdicao
{
	margin: 0px 0px 0px 20px;
}

.inEdicao
{
	width: 130px;
	display:block;
	text-align: right;
	margin-right: 5px;
	float: left;
	line-height: 24px;
/*	background-color: #ddd;*/
}
