#edicao
{
	margin: 0px auto;
	width: 100%;
	font-size: 12px;
	font-family: verdana;
}

#edicao #formFerramentas a
{
	text-decoration: none;
	color: #003d4c;
}

#edicao #formFerramentas a:hover
{
	color: red;
	background-color: #c2c493;
	/*font-weight: bold;*/
}

#edicao #formFerramentas,
#edicao #formEdicao
{
	margin: 3px auto;
	width: 880px;
}

#edicao #formEdicao
{
	padding: 5px 0px 5px 0px;
}

#edicao #formFerramentas
{
	background-color: #acc4e6;
	height: 40px;
	line-height: 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#botoesEdicao
{
	margin: 0px 0px 0px 20px;
	float: left;
}

#msgEdicao
{
	margin: 0px 0px 0px 20px;
	float: left;
	position: absolute;
	display: none;
}

.edicaoDiv
{
	float: left;
}

.quebraLinha
{
	line-height: 26px;
}

.inEdicao
{
	width: 130px;
	display:block;
	text-align: right;
	margin-right: 5px;
	float: left;
	line-height: 24px;
	position: relative;
/*	background-color: #ddd;*/
}

.error-message
{
	color: black;
	float: left;
	position: absolute;
	margin: 22px 0px 0px -90px;
	background-color: yellow;
	/*display: none;*/
}

.form-error
{
	background-color: #ddd;
	float: left;
}

.camposEdicao
{
	border: 1px solid #bbb;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	display: table;
}
