#edicao
{
	margin: 0px auto;
	width: 100%;
	font-size: 12px;
	font-family: verdana;
}

#edicao .busca_rapida
{
	float: left;
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 5px 0px 0px 0px;
	/*background-color: #ddd;*/
}

#edicao #formAlerta
{
	float: right;
	width: 200px;
	height: 100%;
	margin: 0px 5px 0px 0px;
	padding: 4px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: #acc4e6;
	line-height: 30px;
}

#edicao #formFerramentas a
{
	text-decoration: none;
	color: #003d4c;
}

#edicao #formFerramentas a:hover
{
	color: red;
	background-color: #c2c493;
	/*font-weight: bold;*/
}

#edicao #formFerramentas,
#edicao #formEdicao,
#edicao #formErros,
#edicao #formRedirecionamentos
{
	margin: 3px auto;
	width: 980px;
}

#edicao #formErros
{
	background-color: red;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#edicao #formErros ul
{
	margin: 0px;
	padding: 5px;
}

#edicao #formErros ul li
{
	list-style: none;
}

#edicao #formEdicao
{
	padding: 5px 0px 5px 0px;
}

#edicao #formFerramentas
{
	background-color: #acc4e6;
	height: 40px;
	line-height: 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#edicao #botoesEdicao
{
	margin: 0px 0px 0px 20px;
	float: left;
}

#edicao #msgEdicao
{
	margin: 0px 0px 0px 20px;
	float: left;
	position: absolute;
	display: none;
}

#edicao .edicaoDiv
{
	float: left;
}

#edicao .quebraLinha
{
	line-height: 26px;
	clear: both;
}

#edicao .inEdicao
{
	width: 130px;
	display:block;
	text-align: right;
	margin-right: 5px;
	float: left;
	line-height: 24px;
	position: relative;
/*	background-color: #ddd;*/
}

#edicao .inRedirecionamento
{
	width: 160px;
}

#edicao .inEdicao a
{
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

#edicao .error-message
{
	color: black;
	float: left;
	position: absolute;
	margin: 22px 0px 0px -90px;
	background-color: yellow;
	/*display: none;*/
}

#edicao .form-error
{
	background-color: #ddd;
	float: left;
}

#edicao .camposEdicao
{
	border: 1px solid #bbb;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	display: table;
}

#edicao .checkbox
{
	float: left;
	margin: 3px 10px 0px 0px;
}

#edicao .checkbox input
{
	margin: 0px 5px 0px 0px;
}

#edicao #pesquisa
{
	float: right;
	/*background-color: #ddd;*/
	margin: 0px 5px 0px 0px;
}

#edicao #pesquisa #inPesquisa
{
	width: 130px;
}
