*
{
	margin:0;
	padding:0;
}

.lista
{
	font-size: 12px;
	font-family: verdana;
	margin: 0px auto;
	width: 80%;
	/*border: 1px solid #ccc;*/
}

.lista #esquerda
{
	min-width: 100px;
	min-height: 300px;
	/*background-color: #ddd;*/
	float: left;
	margin: 0px 5px 0px 0px;
}

.lista #esquerda ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.lista #esquerda a
{
	text-decoration: none;
	color: #333333;
}

.lista #esquerda a:hover
{
	color: red;
}

.lista #direita
{
	/*background-color: #bbb;*/
	min-height: 300px;
}

.lista .paginas
{
	margin: 3px auto;
	background-color: #acc4e6;
	height: 40px;
	line-height: 40px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.lista .paginas a
{
	text-decoration: none;
	color: #003d4c;
}

.lista .paginas a:hover
{
	color: red;
	background-color: #c2c493;
	font-weight: bold;
}

.lista .paginas span
{
	float: left;
	position: relative;
	width: 100%;
}

.lista .paginas .current,
.lista .paginas .num_pag
{
	min-width: 26px;
	text-align: center;
	float: left;
}
.lista .paginas .num_pag
{
	color: blue;
}

.lista .paginas .pags
{
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.lista .paginas .pags li
{
	display: inline;
	text-align: center;
}

.lista .linhas
{
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	font-size: 11px;
}
.lista .linhas th
{
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.lista th a.asc:after {
	content: ' ⇣';
	color: red;
}
.lista th a.desc:after {
	content: ' ⇡';
	color: red;
}

.lista .linhas th a
{
	display: block;
	text-decoration: none;
	color: #000;
	border: 1px solid #fff;
}

.lista .linhas th a:hover
{
	background-color: #acc4e6;
}

.lista .linhas td
{
	padding: 1px;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

.lista_linha_ativa
{
	background-color: #acc4e6;
	cursor: pointer;
}

.lista .listaRodape
{
	margin: 3px auto;
	background-color: #cdddf3;
	border-top: 1px solid #757f8c;
	color: #3e444d;
	font-size: 10px;
	text-align: right;
	padding: 5px 0px 5px 0px;
	clear: both;
}

.lista #pesquisa
{
	float: right;
	margin: 10px 5px 0px 0px;
}

.lista  #pesquisa #inPesquisa
{
	width: 130px;
}

.lista #pesquisa a
{
	text-decoration: none;
	color: #003d4c;
}
