#cabecalho
{
	background: #5483dd url('../img/fundo3.png') repeat left;
	height: 60px;
	line-height: 40px;
	border-bottom: 2px solid #3f4757;
	color: #fff;
	margin: 0px;
	padding: 0px;
}

#protocolo
{
	border: 1px solid #ddd;
	min-height: 300px;
	width: 90%;
	margin: 10px auto;
	padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#protocolo label
{
	margin: 0px 10px 0px 0px;
}

#protocolo .btProtocolo
{
	width: 200px;
}
